<!--
    Admin page needs to show login that works
    shows error message for different wrong inputs
    and after right input shows the reservations
    but must be on same page? so maybe use flask to do that.
-->
<!DOCTYPE html>

<!--boilerplate-->
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--title of our project to show up on the tab-->
    <title>IT4320 Team6 Final Project</title>
    <!--link to external css style sheet-->
    <link rel="stylesheet" href="static\css\adminStyle.css">
</head>

<!--body-->
<body>
    <h1>Administrator Login</h1>

    <ul>
        <!--links to other pages which will be removed later on-->
        <li><a href="index.html">Home</a></li>
        <li><a href="admin.html">Admin</a></li>
        <li><a href="reservations.html">Reservations</a></li>
    </ul>
</body>
</html>