<!--
    Admin login page/Administrator Login page that checks if
    the user has entered right input if not = gives error message,
    and if correct input = shows seating chart with total sales num.
-->
<!DOCTYPE html>

<!--boilerplate-->
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--title of our project to show up on the tab-->
    <title>IT4320 Team6 Final Project</title>
    <!--link to external css style sheet-->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/adminStyle.css') }}">
</head>

<!--body-->
<body>
    <!-- navbar-->
    <div class="navbar">
        <a href="{{url_for('index')}}">Home</a>
        <a href="{{url_for('admin')}}">Admin</a>
        <a href="{{url_for('reservations')}}">Reservations</a>
    </div>
    {% if login == False %}
    <h1>Administrator Login</h1>
    {% if error != None %}
    <p>{{error}}</p>
    {% endif %}
    <form method="post">
        <div class="container">
          <label for="uname"><b>Username</b></label>
          <br>
          <input type="text" placeholder="Enter Username" name="uname" required>
          <br>
          <label for="psw"><b>Password</b></label>
          <br>
          <input type="password" placeholder="Enter Password" name="psw" required>
      
          <button type="submit">Login</button>
        </div>
    </form>
    {% endif %}
    {% if login == True %}
    <p>Total Sales: {{ sales }}</p>
    <div class="chart">
        <p>
          <ul>
          {% for row in seats %}
          <l>{{ row }}</l>
          {% endfor %}
          </ul>
        </p>
    {% endif %}
</body>
</html>