<!--
    Home page needs to show menu that let's user pick
    admin login or reserve a seat
-->
<!DOCTYPE html>

<!--boilerplate-->
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--title of our project to show up on the tab-->
    <title>IT4320 Team6 Final Project</title>
    <!--link to external css style sheet-->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/indexStyle.css') }}">
</head>

<!--body-->
<body>

    <!--to show user where they are in our website and links to help them switch pages-->
    <div class="navbar">
        <a href="{{url_for('index')}}">Home</a>
        <a href="{{url_for('admin')}}">Admin</a>
        <a href="{{url_for('reservations')}}">Reservations</a>
    </div>

    <div class="body">
        <h1>IT-4320 Team 6 Trip Reservation System</h1>
        <p>Welcome to the IT-4320 Team 6 reservation system.</p>
        <p>Use the select box to choose whether to make a reservation or login in as administrator.</p>
        <h3>Choose Menu Option:</h3>
        <!--our menu-->
        <!--still need to make to submit button work/respond to selected option and open the page link-->
        <div class="container">
            <form method = "post">
                <select id="Menu" name="Menu">
                    <option value="choose">Choose an Option</option>
                    <option value="AdminLogin">Admin Login</option>
                    <option value="ReserveSeat">Reserve a Seat</option>
                </select>
                <button type="submit">Submit</button>
                </form>
            </form>
        </div>
    </div>
    
</body>
</html>