<!--
    Home page needs to show menu that let's user pick
    admin login or reserve a seat
-->
<!DOCTYPE html>

<!--boilerplate-->
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--title of our project to show up on the tab-->
    <title>IT4320 Team6 Final Project</title>
    <!--link to external css style sheet-->
    <link rel="stylesheet" href="static\css\indexStyle.css">
</head>

<!--body-->
<body>
    <h1>Home Page</h1>

    <ul>
        <!--links to other pages need to change it to options instead of links-->
        <li><a href="index.html">Home</a></li>
        <li><a href="admin.html">Admin</a></li>
        <li><a href="reservations.html">Reservations</a></li>
    </ul>
</body>
</html>