<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT4320 Team6 Final Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/resStyle.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('admin') }}">Admin</a>
        <a href="{{ url_for('reservations') }}">Reservations</a>
    </div>

    <h1>Reserve Your Seat</h1>

    {% if confirmation and confirmation not in ["Seat Taken Error", "Blank Form Error"] %}
    <p>Congrats {{ name }}! You have successfully reserved your seat. Your confirmation number is {{ confirmation }}</p>
    {% endif %}

    <h2>Seating Chart</h2>
    <table class="seating-chart">
        <thead>
            <tr>
                <th>Row/Seat</th>
                {% for seat_num in range(1, 5) %}
                <th>Seat {{ seat_num }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row_num in range(1, 13) %}
            <tr>
                <td>Row {{ row_num }}</td>
                {% for seat_num in range(1, 5) %}
                {% set seat = seats[row_num-1][seat_num-1] %}
                <td class="{{ 'reserved' if seat == 'X' else 'available' }}">
                    {{ seat }}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="container">
        <form method="post">
            <label for="fname">First Name</label><br>
            <input type="text" id="fname" name="firstname" placeholder="First Name" required><br>

            <label for="lname">Last Name</label><br>
            <input type="text" id="lname" name="lastname" placeholder="Last Name" required><br>

            <label for="row">Choose a Row:</label><br>
            <select id="row" name="row" required>
                <option value="choose">Choose a Row</option>
                {% for i in range(1,13) %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select><br>

            <label for="seat">Choose a Seat:</label><br>
            <select id="seat" name="seat" required>
                <option value="choose">Choose a Seat</option>
                {% for i in range(1,5) %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select><br>

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
