<!--
    Reservations page That shows the seats.
    X= taken seat O= available seat
    have input for user to enter first name, last name
    row, and seat.
    Gives error message if their is missing input.
    Than save the data to the reservation.txt.
    show a message that tells user their seat is reserved
    and their eticket number (make code to generate that).
-->
<!DOCTYPE html>

<!--boilerplate-->
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--title of our project to show up on the tab-->
    <title>IT4320 Team6 Final Project</title>
    <!--link to external css style sheet-->
    <link rel="stylesheet" href="static\css\resStyle.css">
</head>

<!--body-->
<body>
    <h1>Reserve Your Seat</h1>

    <ul>
        <!--links to other pages which will be removed later on-->
        <li><a href="index.html">Home</a></li>
        <li><a href="admin.html">Admin</a></li>
        <li><a href="reservations.html">Reservations</a></li>
    </ul>
</body>
</html>